
body
{
    font-family: 'Lato', sans-serif;
    color: #3498db; 
    font-weight: 300;
}
hr
{
    width: 100%;
    background-color: black;
    height: 3px;
}
header {
    margin: 5vh 0 2vh 0;
    min-height: 125px;
    border: 1px solid #e74c3c;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(231,76,60,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(231,76,60,1);
    box-shadow: 0px 5px 0px 0px rgba(231,76,60,1);
}
footer
{
    margin: 5vh 0 2vh 0;
    min-height: 245px;
    border: 1px solid #e74c3c;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(231,76,60,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(231,76,60,1);
    box-shadow: 0px 5px 0px 0px rgba(231,76,60,1);
}

.txt-thin
{
    font-weight: 105;
}
.title-logo
{
    margin-top: 20px;
}
.title-super
{
   font-size: 60px; 
}
.title-sub
{
    font-size:40px;
}
.weight
{
    font-weight: 600;
    
}
.border1
{
    border: 1px solid black;
    border-bottom: 5px solid black;
}
.border2
{
    
    border: 5px solid black;
}
.no-padding
{
    padding: 0;
}
.no-marginlr {
    margin-left: 0px;
    margin-right: 0px;
}
.logo-img
{
    max-height: 100px;
    max-width: 150px;
}
